<main class="main">
  <div class="container">
  <div class="row mt-5">
    <div class="left-side col-md-7">
      <h1>Software de Agenda Gratuita En Línea</h1>
      <p>Manténgase al tanto de cada cita con el software gratuito de agenda en línea de CCT. Gestione su programación y sincronice su calendario en varios dispositivos.</p>
      <button class="btn btn-primary mt-5">Regístrate gratis</button>
    </div>

    <div class="right-side col-md-5">
      <img src="image.png" alt="" class="img-fluid w-100" style="height: auto;">
    </div>
  </div>
</div>
</main>
